---
swagger: "2.0"
info:
  description: "API generated with [PHP-CRUD-API](https://github.com/mevdschee/php-crud-api)"
  version: "1.0.0"
  title: "surgipal_master"
host: "surgipal.com"
basePath: "/api/api.php"
tags:
- name: "answer"
  description: ""
- name: "answer_suggested"
  description: ""
- name: "answers_box"
  description: ""
- name: "article"
  description: ""
- name: "attachment"
  description: ""
- name: "card"
  description: ""
- name: "category"
  description: ""
- name: "cluster"
  description: ""
- name: "cluster_card"
  description: ""
- name: "contact_message"
  description: ""
- name: "country"
  description: ""
- name: "doctor_data"
  description: ""
- name: "doctor_hospital"
  description: ""
- name: "doctor_message"
  description: ""
- name: "doctor_vendor"
  description: ""
- name: "exclusioner"
  description: ""
- name: "fos_user"
  description: ""
- name: "glove_size"
  description: ""
- name: "glove_type"
  description: ""
- name: "gown_size"
  description: ""
- name: "group"
  description: ""
- name: "handedness"
  description: ""
- name: "hospital_data"
  description: ""
- name: "messagesview"
  description: "VIEW"
- name: "practice"
  description: ""
- name: "practice_hospital"
  description: ""
- name: "question"
  description: ""
- name: "question_type"
  description: ""
- name: "resident"
  description: ""
- name: "specialty"
  description: ""
- name: "state"
  description: ""
- name: "surgeriesview"
  description: "VIEW"
- name: "surgery"
  description: ""
- name: "surgery_status"
  description: ""
- name: "system_variable"
  description: ""
- name: "systemlog"
  description: ""
- name: "user_user"
  description: ""
- name: "vendor_data"
  description: ""
- name: "vendordata_user"
  description: ""
- name: "years_in_practice"
  description: ""
schemes:
- "https"
consumes:
- "application/json"
produces:
- "application/json"
paths:
  /SystemLog:
    get:
      tags:
      - "SystemLog"
      summary: "List"
      operationId: "systemLogGET"
      parameters:
      - name: "exclude"
        in: "query"
        description: "One or more related entities (comma separated)."
        required: false
        type: "string"
      - name: "include"
        in: "query"
        description: "One or more related entities (comma separated)."
        required: false
        type: "string"
      - name: "order"
        in: "query"
        description: "Column you want to sort on and the sort direction (comma separated).\
          \ Example: id,desc"
        required: false
        type: "string"
      - name: "page"
        in: "query"
        description: "Page number and page size (comma separated). NB: You cannot\
          \ use \"page\" without \"order\"! Example: 1,10"
        required: false
        type: "string"
      - name: "transform"
        in: "query"
        description: "Transform the records to object format. NB: This can also be\
          \ done client-side in JavaScript!"
        required: false
        type: "boolean"
      - name: "columns"
        in: "query"
        description: "The table columns you want to retrieve (comma separated). Example:\
          \ posts.*,categories.name"
        required: false
        type: "string"
      - name: "filter[]"
        in: "query"
        description: "Filters to be applied. Each filter consists of a column, an\
          \ operator and a value (comma separated). Example: id,eq,1"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "satisfy"
        in: "query"
        description: "Should all filters match (default)? Or any?"
        required: false
        type: "string"
        enum:
        - "any"
      responses:
        200:
          description: "An array of SystemLog"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/inline_response_200"
      x-swagger-router-controller: "SystemLog"
    post:
      tags:
      - "SystemLog"
      summary: "Create"
      operationId: "systemLogPOST"
      parameters:
      - in: "body"
        name: "item"
        description: "Item to create."
        required: true
        schema:
          $ref: "#/definitions/item"
      responses:
        200:
          description: "Identifier of created item."
          schema:
            type: "integer"
      x-swagger-router-controller: "SystemLog"
  /SystemLog/{id}:
    get:
      tags:
      - "SystemLog"
      summary: "Read"
      operationId: "systemLogIdGET"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      responses:
        200:
          description: "The requested item."
          schema:
            $ref: "#/definitions/inline_response_200"
      x-swagger-router-controller: "SystemLog"
    put:
      tags:
      - "SystemLog"
      summary: "Update"
      operationId: "systemLogIdPUT"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      - in: "body"
        name: "item"
        description: "Properties of item to update."
        required: true
        schema:
          $ref: "#/definitions/item_1"
      responses:
        200:
          description: "Number of affected rows."
          schema:
            type: "integer"
      x-swagger-router-controller: "SystemLog"
    delete:
      tags:
      - "SystemLog"
      summary: "Delete"
      operationId: "systemLogIdDELETE"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      responses:
        200:
          description: "Number of affected rows."
          schema:
            type: "integer"
      x-swagger-router-controller: "SystemLog"
    patch:
      tags:
      - "SystemLog"
      summary: "Increment"
      operationId: "systemLogIdPATCH"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      - in: "body"
        name: "item"
        description: "Properties of item to update."
        required: true
        schema:
          $ref: "#/definitions/item_2"
      responses:
        200:
          description: "Number of affected rows."
          schema:
            type: "integer"
      x-swagger-router-controller: "SystemLog"
  /answer:
    get:
      tags:
      - "answer"
      summary: "List"
      operationId: "answerGET"
      parameters:
      - name: "exclude"
        in: "query"
        description: "One or more related entities (comma separated)."
        required: false
        type: "string"
      - name: "include"
        in: "query"
        description: "One or more related entities (comma separated)."
        required: false
        type: "string"
      - name: "order"
        in: "query"
        description: "Column you want to sort on and the sort direction (comma separated).\
          \ Example: id,desc"
        required: false
        type: "string"
      - name: "page"
        in: "query"
        description: "Page number and page size (comma separated). NB: You cannot\
          \ use \"page\" without \"order\"! Example: 1,10"
        required: false
        type: "string"
      - name: "transform"
        in: "query"
        description: "Transform the records to object format. NB: This can also be\
          \ done client-side in JavaScript!"
        required: false
        type: "boolean"
      - name: "columns"
        in: "query"
        description: "The table columns you want to retrieve (comma separated). Example:\
          \ posts.*,categories.name"
        required: false
        type: "string"
      - name: "filter[]"
        in: "query"
        description: "Filters to be applied. Each filter consists of a column, an\
          \ operator and a value (comma separated). Example: id,eq,1"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "satisfy"
        in: "query"
        description: "Should all filters match (default)? Or any?"
        required: false
        type: "string"
        enum:
        - "any"
      responses:
        200:
          description: "An array of answer"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/inline_response_200_1"
      x-swagger-router-controller: "Answer"
    post:
      tags:
      - "answer"
      summary: "Create"
      operationId: "answerPOST"
      parameters:
      - in: "body"
        name: "item"
        description: "Item to create."
        required: true
        schema:
          $ref: "#/definitions/item_3"
      responses:
        200:
          description: "Identifier of created item."
          schema:
            type: "integer"
      x-swagger-router-controller: "Answer"
  /answer/{id}:
    get:
      tags:
      - "answer"
      summary: "Read"
      operationId: "answerIdGET"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      responses:
        200:
          description: "The requested item."
          schema:
            $ref: "#/definitions/inline_response_200_1"
      x-swagger-router-controller: "Answer"
    put:
      tags:
      - "answer"
      summary: "Update"
      operationId: "answerIdPUT"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      - in: "body"
        name: "item"
        description: "Properties of item to update."
        required: true
        schema:
          $ref: "#/definitions/item_4"
      responses:
        200:
          description: "Number of affected rows."
          schema:
            type: "integer"
      x-swagger-router-controller: "Answer"
    delete:
      tags:
      - "answer"
      summary: "Delete"
      operationId: "answerIdDELETE"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      responses:
        200:
          description: "Number of affected rows."
          schema:
            type: "integer"
      x-swagger-router-controller: "Answer"
    patch:
      tags:
      - "answer"
      summary: "Increment"
      operationId: "answerIdPATCH"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      - in: "body"
        name: "item"
        description: "Properties of item to update."
        required: true
        schema:
          $ref: "#/definitions/item_5"
      responses:
        200:
          description: "Number of affected rows."
          schema:
            type: "integer"
      x-swagger-router-controller: "Answer"
  /answer_suggested:
    get:
      tags:
      - "answer_suggested"
      summary: "List"
      operationId: "answer_suggestedGET"
      parameters:
      - name: "exclude"
        in: "query"
        description: "One or more related entities (comma separated)."
        required: false
        type: "string"
      - name: "include"
        in: "query"
        description: "One or more related entities (comma separated)."
        required: false
        type: "string"
      - name: "order"
        in: "query"
        description: "Column you want to sort on and the sort direction (comma separated).\
          \ Example: id,desc"
        required: false
        type: "string"
      - name: "page"
        in: "query"
        description: "Page number and page size (comma separated). NB: You cannot\
          \ use \"page\" without \"order\"! Example: 1,10"
        required: false
        type: "string"
      - name: "transform"
        in: "query"
        description: "Transform the records to object format. NB: This can also be\
          \ done client-side in JavaScript!"
        required: false
        type: "boolean"
      - name: "columns"
        in: "query"
        description: "The table columns you want to retrieve (comma separated). Example:\
          \ posts.*,categories.name"
        required: false
        type: "string"
      - name: "filter[]"
        in: "query"
        description: "Filters to be applied. Each filter consists of a column, an\
          \ operator and a value (comma separated). Example: id,eq,1"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "satisfy"
        in: "query"
        description: "Should all filters match (default)? Or any?"
        required: false
        type: "string"
        enum:
        - "any"
      responses:
        200:
          description: "An array of answer_suggested"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/inline_response_200_2"
      x-swagger-router-controller: "Answer_suggested"
    post:
      tags:
      - "answer_suggested"
      summary: "Create"
      operationId: "answer_suggestedPOST"
      parameters:
      - in: "body"
        name: "item"
        description: "Item to create."
        required: true
        schema:
          $ref: "#/definitions/item_6"
      responses:
        200:
          description: "Identifier of created item."
          schema:
            type: "integer"
      x-swagger-router-controller: "Answer_suggested"
  /answer_suggested/{id}:
    get:
      tags:
      - "answer_suggested"
      summary: "Read"
      operationId: "answer_suggestedIdGET"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      responses:
        200:
          description: "The requested item."
          schema:
            $ref: "#/definitions/inline_response_200_2"
      x-swagger-router-controller: "Answer_suggested"
    put:
      tags:
      - "answer_suggested"
      summary: "Update"
      operationId: "answer_suggestedIdPUT"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      - in: "body"
        name: "item"
        description: "Properties of item to update."
        required: true
        schema:
          $ref: "#/definitions/item_7"
      responses:
        200:
          description: "Number of affected rows."
          schema:
            type: "integer"
      x-swagger-router-controller: "Answer_suggested"
    delete:
      tags:
      - "answer_suggested"
      summary: "Delete"
      operationId: "answer_suggestedIdDELETE"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      responses:
        200:
          description: "Number of affected rows."
          schema:
            type: "integer"
      x-swagger-router-controller: "Answer_suggested"
    patch:
      tags:
      - "answer_suggested"
      summary: "Increment"
      operationId: "answer_suggestedIdPATCH"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      - in: "body"
        name: "item"
        description: "Properties of item to update."
        required: true
        schema:
          $ref: "#/definitions/item_8"
      responses:
        200:
          description: "Number of affected rows."
          schema:
            type: "integer"
      x-swagger-router-controller: "Answer_suggested"
  /answers_box:
    get:
      tags:
      - "answers_box"
      summary: "List"
      operationId: "answers_boxGET"
      parameters:
      - name: "exclude"
        in: "query"
        description: "One or more related entities (comma separated)."
        required: false
        type: "string"
      - name: "include"
        in: "query"
        description: "One or more related entities (comma separated)."
        required: false
        type: "string"
      - name: "order"
        in: "query"
        description: "Column you want to sort on and the sort direction (comma separated).\
          \ Example: id,desc"
        required: false
        type: "string"
      - name: "page"
        in: "query"
        description: "Page number and page size (comma separated). NB: You cannot\
          \ use \"page\" without \"order\"! Example: 1,10"
        required: false
        type: "string"
      - name: "transform"
        in: "query"
        description: "Transform the records to object format. NB: This can also be\
          \ done client-side in JavaScript!"
        required: false
        type: "boolean"
      - name: "columns"
        in: "query"
        description: "The table columns you want to retrieve (comma separated). Example:\
          \ posts.*,categories.name"
        required: false
        type: "string"
      - name: "filter[]"
        in: "query"
        description: "Filters to be applied. Each filter consists of a column, an\
          \ operator and a value (comma separated). Example: id,eq,1"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "satisfy"
        in: "query"
        description: "Should all filters match (default)? Or any?"
        required: false
        type: "string"
        enum:
        - "any"
      responses:
        200:
          description: "An array of answers_box"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/inline_response_200_3"
      x-swagger-router-controller: "Answers_box"
    post:
      tags:
      - "answers_box"
      summary: "Create"
      operationId: "answers_boxPOST"
      parameters:
      - in: "body"
        name: "item"
        description: "Item to create."
        required: true
        schema:
          $ref: "#/definitions/item_9"
      responses:
        200:
          description: "Identifier of created item."
          schema:
            type: "integer"
      x-swagger-router-controller: "Answers_box"
  /answers_box/{id}:
    get:
      tags:
      - "answers_box"
      summary: "Read"
      operationId: "answers_boxIdGET"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      responses:
        200:
          description: "The requested item."
          schema:
            $ref: "#/definitions/inline_response_200_3"
      x-swagger-router-controller: "Answers_box"
    put:
      tags:
      - "answers_box"
      summary: "Update"
      operationId: "answers_boxIdPUT"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      - in: "body"
        name: "item"
        description: "Properties of item to update."
        required: true
        schema:
          $ref: "#/definitions/item_10"
      responses:
        200:
          description: "Number of affected rows."
          schema:
            type: "integer"
      x-swagger-router-controller: "Answers_box"
    delete:
      tags:
      - "answers_box"
      summary: "Delete"
      operationId: "answers_boxIdDELETE"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      responses:
        200:
          description: "Number of affected rows."
          schema:
            type: "integer"
      x-swagger-router-controller: "Answers_box"
    patch:
      tags:
      - "answers_box"
      summary: "Increment"
      operationId: "answers_boxIdPATCH"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      - in: "body"
        name: "item"
        description: "Properties of item to update."
        required: true
        schema:
          $ref: "#/definitions/item_11"
      responses:
        200:
          description: "Number of affected rows."
          schema:
            type: "integer"
      x-swagger-router-controller: "Answers_box"
  /article:
    get:
      tags:
      - "article"
      summary: "List"
      operationId: "articleGET"
      parameters:
      - name: "exclude"
        in: "query"
        description: "One or more related entities (comma separated)."
        required: false
        type: "string"
      - name: "include"
        in: "query"
        description: "One or more related entities (comma separated)."
        required: false
        type: "string"
      - name: "order"
        in: "query"
        description: "Column you want to sort on and the sort direction (comma separated).\
          \ Example: id,desc"
        required: false
        type: "string"
      - name: "page"
        in: "query"
        description: "Page number and page size (comma separated). NB: You cannot\
          \ use \"page\" without \"order\"! Example: 1,10"
        required: false
        type: "string"
      - name: "transform"
        in: "query"
        description: "Transform the records to object format. NB: This can also be\
          \ done client-side in JavaScript!"
        required: false
        type: "boolean"
      - name: "columns"
        in: "query"
        description: "The table columns you want to retrieve (comma separated). Example:\
          \ posts.*,categories.name"
        required: false
        type: "string"
      - name: "filter[]"
        in: "query"
        description: "Filters to be applied. Each filter consists of a column, an\
          \ operator and a value (comma separated). Example: id,eq,1"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "satisfy"
        in: "query"
        description: "Should all filters match (default)? Or any?"
        required: false
        type: "string"
        enum:
        - "any"
      responses:
        200:
          description: "An array of article"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/inline_response_200_4"
      x-swagger-router-controller: "Article"
    post:
      tags:
      - "article"
      summary: "Create"
      operationId: "articlePOST"
      parameters:
      - in: "body"
        name: "item"
        description: "Item to create."
        required: true
        schema:
          $ref: "#/definitions/item_12"
      responses:
        200:
          description: "Identifier of created item."
          schema:
            type: "integer"
      x-swagger-router-controller: "Article"
  /article/{id}:
    get:
      tags:
      - "article"
      summary: "Read"
      operationId: "articleIdGET"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      responses:
        200:
          description: "The requested item."
          schema:
            $ref: "#/definitions/inline_response_200_4"
      x-swagger-router-controller: "Article"
    put:
      tags:
      - "article"
      summary: "Update"
      operationId: "articleIdPUT"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      - in: "body"
        name: "item"
        description: "Properties of item to update."
        required: true
        schema:
          $ref: "#/definitions/item_13"
      responses:
        200:
          description: "Number of affected rows."
          schema:
            type: "integer"
      x-swagger-router-controller: "Article"
    delete:
      tags:
      - "article"
      summary: "Delete"
      operationId: "articleIdDELETE"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      responses:
        200:
          description: "Number of affected rows."
          schema:
            type: "integer"
      x-swagger-router-controller: "Article"
    patch:
      tags:
      - "article"
      summary: "Increment"
      operationId: "articleIdPATCH"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      - in: "body"
        name: "item"
        description: "Properties of item to update."
        required: true
        schema:
          $ref: "#/definitions/item_14"
      responses:
        200:
          description: "Number of affected rows."
          schema:
            type: "integer"
      x-swagger-router-controller: "Article"
  /attachment:
    get:
      tags:
      - "attachment"
      summary: "List"
      operationId: "attachmentGET"
      parameters:
      - name: "exclude"
        in: "query"
        description: "One or more related entities (comma separated)."
        required: false
        type: "string"
      - name: "include"
        in: "query"
        description: "One or more related entities (comma separated)."
        required: false
        type: "string"
      - name: "order"
        in: "query"
        description: "Column you want to sort on and the sort direction (comma separated).\
          \ Example: id,desc"
        required: false
        type: "string"
      - name: "page"
        in: "query"
        description: "Page number and page size (comma separated). NB: You cannot\
          \ use \"page\" without \"order\"! Example: 1,10"
        required: false
        type: "string"
      - name: "transform"
        in: "query"
        description: "Transform the records to object format. NB: This can also be\
          \ done client-side in JavaScript!"
        required: false
        type: "boolean"
      - name: "columns"
        in: "query"
        description: "The table columns you want to retrieve (comma separated). Example:\
          \ posts.*,categories.name"
        required: false
        type: "string"
      - name: "filter[]"
        in: "query"
        description: "Filters to be applied. Each filter consists of a column, an\
          \ operator and a value (comma separated). Example: id,eq,1"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "satisfy"
        in: "query"
        description: "Should all filters match (default)? Or any?"
        required: false
        type: "string"
        enum:
        - "any"
      responses:
        200:
          description: "An array of attachment"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/inline_response_200_5"
      x-swagger-router-controller: "Attachment"
    post:
      tags:
      - "attachment"
      summary: "Create"
      operationId: "attachmentPOST"
      parameters:
      - in: "body"
        name: "item"
        description: "Item to create."
        required: true
        schema:
          $ref: "#/definitions/item_15"
      responses:
        200:
          description: "Identifier of created item."
          schema:
            type: "integer"
      x-swagger-router-controller: "Attachment"
  /attachment/{id}:
    get:
      tags:
      - "attachment"
      summary: "Read"
      operationId: "attachmentIdGET"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      responses:
        200:
          description: "The requested item."
          schema:
            $ref: "#/definitions/inline_response_200_5"
      x-swagger-router-controller: "Attachment"
    put:
      tags:
      - "attachment"
      summary: "Update"
      operationId: "attachmentIdPUT"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      - in: "body"
        name: "item"
        description: "Properties of item to update."
        required: true
        schema:
          $ref: "#/definitions/item_16"
      responses:
        200:
          description: "Number of affected rows."
          schema:
            type: "integer"
      x-swagger-router-controller: "Attachment"
    delete:
      tags:
      - "attachment"
      summary: "Delete"
      operationId: "attachmentIdDELETE"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      responses:
        200:
          description: "Number of affected rows."
          schema:
            type: "integer"
      x-swagger-router-controller: "Attachment"
    patch:
      tags:
      - "attachment"
      summary: "Increment"
      operationId: "attachmentIdPATCH"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      - in: "body"
        name: "item"
        description: "Properties of item to update."
        required: true
        schema:
          $ref: "#/definitions/item_17"
      responses:
        200:
          description: "Number of affected rows."
          schema:
            type: "integer"
      x-swagger-router-controller: "Attachment"
  /card:
    get:
      tags:
      - "card"
      summary: "List"
      operationId: "cardGET"
      parameters:
      - name: "exclude"
        in: "query"
        description: "One or more related entities (comma separated)."
        required: false
        type: "string"
      - name: "include"
        in: "query"
        description: "One or more related entities (comma separated)."
        required: false
        type: "string"
      - name: "order"
        in: "query"
        description: "Column you want to sort on and the sort direction (comma separated).\
          \ Example: id,desc"
        required: false
        type: "string"
      - name: "page"
        in: "query"
        description: "Page number and page size (comma separated). NB: You cannot\
          \ use \"page\" without \"order\"! Example: 1,10"
        required: false
        type: "string"
      - name: "transform"
        in: "query"
        description: "Transform the records to object format. NB: This can also be\
          \ done client-side in JavaScript!"
        required: false
        type: "boolean"
      - name: "columns"
        in: "query"
        description: "The table columns you want to retrieve (comma separated). Example:\
          \ posts.*,categories.name"
        required: false
        type: "string"
      - name: "filter[]"
        in: "query"
        description: "Filters to be applied. Each filter consists of a column, an\
          \ operator and a value (comma separated). Example: id,eq,1"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "satisfy"
        in: "query"
        description: "Should all filters match (default)? Or any?"
        required: false
        type: "string"
        enum:
        - "any"
      responses:
        200:
          description: "An array of card"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/inline_response_200_6"
      x-swagger-router-controller: "Card"
    post:
      tags:
      - "card"
      summary: "Create"
      operationId: "cardPOST"
      parameters:
      - in: "body"
        name: "item"
        description: "Item to create."
        required: true
        schema:
          $ref: "#/definitions/item_18"
      responses:
        200:
          description: "Identifier of created item."
          schema:
            type: "integer"
      x-swagger-router-controller: "Card"
  /card/{id}:
    get:
      tags:
      - "card"
      summary: "Read"
      operationId: "cardIdGET"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      responses:
        200:
          description: "The requested item."
          schema:
            $ref: "#/definitions/inline_response_200_6"
      x-swagger-router-controller: "Card"
    put:
      tags:
      - "card"
      summary: "Update"
      operationId: "cardIdPUT"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      - in: "body"
        name: "item"
        description: "Properties of item to update."
        required: true
        schema:
          $ref: "#/definitions/item_19"
      responses:
        200:
          description: "Number of affected rows."
          schema:
            type: "integer"
      x-swagger-router-controller: "Card"
    delete:
      tags:
      - "card"
      summary: "Delete"
      operationId: "cardIdDELETE"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      responses:
        200:
          description: "Number of affected rows."
          schema:
            type: "integer"
      x-swagger-router-controller: "Card"
    patch:
      tags:
      - "card"
      summary: "Increment"
      operationId: "cardIdPATCH"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      - in: "body"
        name: "item"
        description: "Properties of item to update."
        required: true
        schema:
          $ref: "#/definitions/item_20"
      responses:
        200:
          description: "Number of affected rows."
          schema:
            type: "integer"
      x-swagger-router-controller: "Card"
  /category:
    get:
      tags:
      - "category"
      summary: "List"
      operationId: "categoryGET"
      parameters:
      - name: "exclude"
        in: "query"
        description: "One or more related entities (comma separated)."
        required: false
        type: "string"
      - name: "include"
        in: "query"
        description: "One or more related entities (comma separated)."
        required: false
        type: "string"
      - name: "order"
        in: "query"
        description: "Column you want to sort on and the sort direction (comma separated).\
          \ Example: id,desc"
        required: false
        type: "string"
      - name: "page"
        in: "query"
        description: "Page number and page size (comma separated). NB: You cannot\
          \ use \"page\" without \"order\"! Example: 1,10"
        required: false
        type: "string"
      - name: "transform"
        in: "query"
        description: "Transform the records to object format. NB: This can also be\
          \ done client-side in JavaScript!"
        required: false
        type: "boolean"
      - name: "columns"
        in: "query"
        description: "The table columns you want to retrieve (comma separated). Example:\
          \ posts.*,categories.name"
        required: false
        type: "string"
      - name: "filter[]"
        in: "query"
        description: "Filters to be applied. Each filter consists of a column, an\
          \ operator and a value (comma separated). Example: id,eq,1"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "satisfy"
        in: "query"
        description: "Should all filters match (default)? Or any?"
        required: false
        type: "string"
        enum:
        - "any"
      responses:
        200:
          description: "An array of category"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/inline_response_200_7"
      x-swagger-router-controller: "Category"
    post:
      tags:
      - "category"
      summary: "Create"
      operationId: "categoryPOST"
      parameters:
      - in: "body"
        name: "item"
        description: "Item to create."
        required: true
        schema:
          $ref: "#/definitions/item_21"
      responses:
        200:
          description: "Identifier of created item."
          schema:
            type: "integer"
      x-swagger-router-controller: "Category"
  /category/{id}:
    get:
      tags:
      - "category"
      summary: "Read"
      operationId: "categoryIdGET"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      responses:
        200:
          description: "The requested item."
          schema:
            $ref: "#/definitions/inline_response_200_7"
      x-swagger-router-controller: "Category"
    put:
      tags:
      - "category"
      summary: "Update"
      operationId: "categoryIdPUT"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      - in: "body"
        name: "item"
        description: "Properties of item to update."
        required: true
        schema:
          $ref: "#/definitions/item_22"
      responses:
        200:
          description: "Number of affected rows."
          schema:
            type: "integer"
      x-swagger-router-controller: "Category"
    delete:
      tags:
      - "category"
      summary: "Delete"
      operationId: "categoryIdDELETE"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      responses:
        200:
          description: "Number of affected rows."
          schema:
            type: "integer"
      x-swagger-router-controller: "Category"
    patch:
      tags:
      - "category"
      summary: "Increment"
      operationId: "categoryIdPATCH"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      - in: "body"
        name: "item"
        description: "Properties of item to update."
        required: true
        schema:
          $ref: "#/definitions/item_23"
      responses:
        200:
          description: "Number of affected rows."
          schema:
            type: "integer"
      x-swagger-router-controller: "Category"
  /cluster:
    get:
      tags:
      - "cluster"
      summary: "List"
      operationId: "clusterGET"
      parameters:
      - name: "exclude"
        in: "query"
        description: "One or more related entities (comma separated)."
        required: false
        type: "string"
      - name: "include"
        in: "query"
        description: "One or more related entities (comma separated)."
        required: false
        type: "string"
      - name: "order"
        in: "query"
        description: "Column you want to sort on and the sort direction (comma separated).\
          \ Example: id,desc"
        required: false
        type: "string"
      - name: "page"
        in: "query"
        description: "Page number and page size (comma separated). NB: You cannot\
          \ use \"page\" without \"order\"! Example: 1,10"
        required: false
        type: "string"
      - name: "transform"
        in: "query"
        description: "Transform the records to object format. NB: This can also be\
          \ done client-side in JavaScript!"
        required: false
        type: "boolean"
      - name: "columns"
        in: "query"
        description: "The table columns you want to retrieve (comma separated). Example:\
          \ posts.*,categories.name"
        required: false
        type: "string"
      - name: "filter[]"
        in: "query"
        description: "Filters to be applied. Each filter consists of a column, an\
          \ operator and a value (comma separated). Example: id,eq,1"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "satisfy"
        in: "query"
        description: "Should all filters match (default)? Or any?"
        required: false
        type: "string"
        enum:
        - "any"
      responses:
        200:
          description: "An array of cluster"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/inline_response_200_8"
      x-swagger-router-controller: "Cluster"
    post:
      tags:
      - "cluster"
      summary: "Create"
      operationId: "clusterPOST"
      parameters:
      - in: "body"
        name: "item"
        description: "Item to create."
        required: true
        schema:
          $ref: "#/definitions/item_24"
      responses:
        200:
          description: "Identifier of created item."
          schema:
            type: "integer"
      x-swagger-router-controller: "Cluster"
  /cluster/{id}:
    get:
      tags:
      - "cluster"
      summary: "Read"
      operationId: "clusterIdGET"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      responses:
        200:
          description: "The requested item."
          schema:
            $ref: "#/definitions/inline_response_200_8"
      x-swagger-router-controller: "Cluster"
    put:
      tags:
      - "cluster"
      summary: "Update"
      operationId: "clusterIdPUT"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      - in: "body"
        name: "item"
        description: "Properties of item to update."
        required: true
        schema:
          $ref: "#/definitions/item_25"
      responses:
        200:
          description: "Number of affected rows."
          schema:
            type: "integer"
      x-swagger-router-controller: "Cluster"
    delete:
      tags:
      - "cluster"
      summary: "Delete"
      operationId: "clusterIdDELETE"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      responses:
        200:
          description: "Number of affected rows."
          schema:
            type: "integer"
      x-swagger-router-controller: "Cluster"
    patch:
      tags:
      - "cluster"
      summary: "Increment"
      operationId: "clusterIdPATCH"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      - in: "body"
        name: "item"
        description: "Properties of item to update."
        required: true
        schema:
          $ref: "#/definitions/item_26"
      responses:
        200:
          description: "Number of affected rows."
          schema:
            type: "integer"
      x-swagger-router-controller: "Cluster"
  /cluster_card:
    get:
      tags:
      - "cluster_card"
      summary: "List"
      operationId: "cluster_cardGET"
      parameters:
      - name: "exclude"
        in: "query"
        description: "One or more related entities (comma separated)."
        required: false
        type: "string"
      - name: "include"
        in: "query"
        description: "One or more related entities (comma separated)."
        required: false
        type: "string"
      - name: "order"
        in: "query"
        description: "Column you want to sort on and the sort direction (comma separated).\
          \ Example: id,desc"
        required: false
        type: "string"
      - name: "page"
        in: "query"
        description: "Page number and page size (comma separated). NB: You cannot\
          \ use \"page\" without \"order\"! Example: 1,10"
        required: false
        type: "string"
      - name: "transform"
        in: "query"
        description: "Transform the records to object format. NB: This can also be\
          \ done client-side in JavaScript!"
        required: false
        type: "boolean"
      - name: "columns"
        in: "query"
        description: "The table columns you want to retrieve (comma separated). Example:\
          \ posts.*,categories.name"
        required: false
        type: "string"
      - name: "filter[]"
        in: "query"
        description: "Filters to be applied. Each filter consists of a column, an\
          \ operator and a value (comma separated). Example: id,eq,1"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "satisfy"
        in: "query"
        description: "Should all filters match (default)? Or any?"
        required: false
        type: "string"
        enum:
        - "any"
      responses:
        200:
          description: "An array of cluster_card"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/inline_response_200_9"
      x-swagger-router-controller: "Cluster_card"
    post:
      tags:
      - "cluster_card"
      summary: "Create"
      operationId: "cluster_cardPOST"
      parameters:
      - in: "body"
        name: "item"
        description: "Item to create."
        required: true
        schema:
          $ref: "#/definitions/item_27"
      responses:
        200:
          description: "Identifier of created item."
          schema:
            type: "integer"
      x-swagger-router-controller: "Cluster_card"
  /cluster_card/{id}:
    get:
      tags:
      - "cluster_card"
      summary: "Read"
      operationId: "cluster_cardIdGET"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      responses:
        200:
          description: "The requested item."
          schema:
            $ref: "#/definitions/inline_response_200_9"
      x-swagger-router-controller: "Cluster_card"
    put:
      tags:
      - "cluster_card"
      summary: "Update"
      operationId: "cluster_cardIdPUT"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      - in: "body"
        name: "item"
        description: "Properties of item to update."
        required: true
        schema:
          $ref: "#/definitions/item_28"
      responses:
        200:
          description: "Number of affected rows."
          schema:
            type: "integer"
      x-swagger-router-controller: "Cluster_card"
    delete:
      tags:
      - "cluster_card"
      summary: "Delete"
      operationId: "cluster_cardIdDELETE"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      responses:
        200:
          description: "Number of affected rows."
          schema:
            type: "integer"
      x-swagger-router-controller: "Cluster_card"
    patch:
      tags:
      - "cluster_card"
      summary: "Increment"
      operationId: "cluster_cardIdPATCH"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      - in: "body"
        name: "item"
        description: "Properties of item to update."
        required: true
        schema:
          $ref: "#/definitions/item_29"
      responses:
        200:
          description: "Number of affected rows."
          schema:
            type: "integer"
      x-swagger-router-controller: "Cluster_card"
  /contact_message:
    get:
      tags:
      - "contact_message"
      summary: "List"
      operationId: "contact_messageGET"
      parameters:
      - name: "exclude"
        in: "query"
        description: "One or more related entities (comma separated)."
        required: false
        type: "string"
      - name: "include"
        in: "query"
        description: "One or more related entities (comma separated)."
        required: false
        type: "string"
      - name: "order"
        in: "query"
        description: "Column you want to sort on and the sort direction (comma separated).\
          \ Example: id,desc"
        required: false
        type: "string"
      - name: "page"
        in: "query"
        description: "Page number and page size (comma separated). NB: You cannot\
          \ use \"page\" without \"order\"! Example: 1,10"
        required: false
        type: "string"
      - name: "transform"
        in: "query"
        description: "Transform the records to object format. NB: This can also be\
          \ done client-side in JavaScript!"
        required: false
        type: "boolean"
      - name: "columns"
        in: "query"
        description: "The table columns you want to retrieve (comma separated). Example:\
          \ posts.*,categories.name"
        required: false
        type: "string"
      - name: "filter[]"
        in: "query"
        description: "Filters to be applied. Each filter consists of a column, an\
          \ operator and a value (comma separated). Example: id,eq,1"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "satisfy"
        in: "query"
        description: "Should all filters match (default)? Or any?"
        required: false
        type: "string"
        enum:
        - "any"
      responses:
        200:
          description: "An array of contact_message"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/inline_response_200_10"
      x-swagger-router-controller: "Contact_message"
    post:
      tags:
      - "contact_message"
      summary: "Create"
      operationId: "contact_messagePOST"
      parameters:
      - in: "body"
        name: "item"
        description: "Item to create."
        required: true
        schema:
          $ref: "#/definitions/item_30"
      responses:
        200:
          description: "Identifier of created item."
          schema:
            type: "integer"
      x-swagger-router-controller: "Contact_message"
  /contact_message/{id}:
    get:
      tags:
      - "contact_message"
      summary: "Read"
      operationId: "contact_messageIdGET"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      responses:
        200:
          description: "The requested item."
          schema:
            $ref: "#/definitions/inline_response_200_10"
      x-swagger-router-controller: "Contact_message"
    put:
      tags:
      - "contact_message"
      summary: "Update"
      operationId: "contact_messageIdPUT"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      - in: "body"
        name: "item"
        description: "Properties of item to update."
        required: true
        schema:
          $ref: "#/definitions/item_31"
      responses:
        200:
          description: "Number of affected rows."
          schema:
            type: "integer"
      x-swagger-router-controller: "Contact_message"
    delete:
      tags:
      - "contact_message"
      summary: "Delete"
      operationId: "contact_messageIdDELETE"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      responses:
        200:
          description: "Number of affected rows."
          schema:
            type: "integer"
      x-swagger-router-controller: "Contact_message"
    patch:
      tags:
      - "contact_message"
      summary: "Increment"
      operationId: "contact_messageIdPATCH"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      - in: "body"
        name: "item"
        description: "Properties of item to update."
        required: true
        schema:
          $ref: "#/definitions/item_32"
      responses:
        200:
          description: "Number of affected rows."
          schema:
            type: "integer"
      x-swagger-router-controller: "Contact_message"
  /country:
    get:
      tags:
      - "country"
      summary: "List"
      operationId: "countryGET"
      parameters:
      - name: "exclude"
        in: "query"
        description: "One or more related entities (comma separated)."
        required: false
        type: "string"
      - name: "include"
        in: "query"
        description: "One or more related entities (comma separated)."
        required: false
        type: "string"
      - name: "order"
        in: "query"
        description: "Column you want to sort on and the sort direction (comma separated).\
          \ Example: id,desc"
        required: false
        type: "string"
      - name: "page"
        in: "query"
        description: "Page number and page size (comma separated). NB: You cannot\
          \ use \"page\" without \"order\"! Example: 1,10"
        required: false
        type: "string"
      - name: "transform"
        in: "query"
        description: "Transform the records to object format. NB: This can also be\
          \ done client-side in JavaScript!"
        required: false
        type: "boolean"
      - name: "columns"
        in: "query"
        description: "The table columns you want to retrieve (comma separated). Example:\
          \ posts.*,categories.name"
        required: false
        type: "string"
      - name: "filter[]"
        in: "query"
        description: "Filters to be applied. Each filter consists of a column, an\
          \ operator and a value (comma separated). Example: id,eq,1"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "satisfy"
        in: "query"
        description: "Should all filters match (default)? Or any?"
        required: false
        type: "string"
        enum:
        - "any"
      responses:
        200:
          description: "An array of country"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/inline_response_200_11"
      x-swagger-router-controller: "Country"
    post:
      tags:
      - "country"
      summary: "Create"
      operationId: "countryPOST"
      parameters:
      - in: "body"
        name: "item"
        description: "Item to create."
        required: true
        schema:
          $ref: "#/definitions/item_33"
      responses:
        200:
          description: "Identifier of created item."
          schema:
            type: "integer"
      x-swagger-router-controller: "Country"
  /country/{id}:
    get:
      tags:
      - "country"
      summary: "Read"
      operationId: "countryIdGET"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      responses:
        200:
          description: "The requested item."
          schema:
            $ref: "#/definitions/inline_response_200_11"
      x-swagger-router-controller: "Country"
    put:
      tags:
      - "country"
      summary: "Update"
      operationId: "countryIdPUT"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      - in: "body"
        name: "item"
        description: "Properties of item to update."
        required: true
        schema:
          $ref: "#/definitions/item_34"
      responses:
        200:
          description: "Number of affected rows."
          schema:
            type: "integer"
      x-swagger-router-controller: "Country"
    delete:
      tags:
      - "country"
      summary: "Delete"
      operationId: "countryIdDELETE"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      responses:
        200:
          description: "Number of affected rows."
          schema:
            type: "integer"
      x-swagger-router-controller: "Country"
    patch:
      tags:
      - "country"
      summary: "Increment"
      operationId: "countryIdPATCH"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      - in: "body"
        name: "item"
        description: "Properties of item to update."
        required: true
        schema:
          $ref: "#/definitions/item_35"
      responses:
        200:
          description: "Number of affected rows."
          schema:
            type: "integer"
      x-swagger-router-controller: "Country"
  /doctor_data:
    get:
      tags:
      - "doctor_data"
      summary: "List"
      operationId: "doctor_dataGET"
      parameters:
      - name: "exclude"
        in: "query"
        description: "One or more related entities (comma separated)."
        required: false
        type: "string"
      - name: "include"
        in: "query"
        description: "One or more related entities (comma separated)."
        required: false
        type: "string"
      - name: "order"
        in: "query"
        description: "Column you want to sort on and the sort direction (comma separated).\
          \ Example: id,desc"
        required: false
        type: "string"
      - name: "page"
        in: "query"
        description: "Page number and page size (comma separated). NB: You cannot\
          \ use \"page\" without \"order\"! Example: 1,10"
        required: false
        type: "string"
      - name: "transform"
        in: "query"
        description: "Transform the records to object format. NB: This can also be\
          \ done client-side in JavaScript!"
        required: false
        type: "boolean"
      - name: "columns"
        in: "query"
        description: "The table columns you want to retrieve (comma separated). Example:\
          \ posts.*,categories.name"
        required: false
        type: "string"
      - name: "filter[]"
        in: "query"
        description: "Filters to be applied. Each filter consists of a column, an\
          \ operator and a value (comma separated). Example: id,eq,1"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "satisfy"
        in: "query"
        description: "Should all filters match (default)? Or any?"
        required: false
        type: "string"
        enum:
        - "any"
      responses:
        200:
          description: "An array of doctor_data"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/inline_response_200_12"
      x-swagger-router-controller: "Doctor_data"
    post:
      tags:
      - "doctor_data"
      summary: "Create"
      operationId: "doctor_dataPOST"
      parameters:
      - in: "body"
        name: "item"
        description: "Item to create."
        required: true
        schema:
          $ref: "#/definitions/item_36"
      responses:
        200:
          description: "Identifier of created item."
          schema:
            type: "integer"
      x-swagger-router-controller: "Doctor_data"
  /doctor_data/{id}:
    get:
      tags:
      - "doctor_data"
      summary: "Read"
      operationId: "doctor_dataIdGET"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      responses:
        200:
          description: "The requested item."
          schema:
            $ref: "#/definitions/inline_response_200_12"
      x-swagger-router-controller: "Doctor_data"
    put:
      tags:
      - "doctor_data"
      summary: "Update"
      operationId: "doctor_dataIdPUT"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      - in: "body"
        name: "item"
        description: "Properties of item to update."
        required: true
        schema:
          $ref: "#/definitions/item_37"
      responses:
        200:
          description: "Number of affected rows."
          schema:
            type: "integer"
      x-swagger-router-controller: "Doctor_data"
    delete:
      tags:
      - "doctor_data"
      summary: "Delete"
      operationId: "doctor_dataIdDELETE"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      responses:
        200:
          description: "Number of affected rows."
          schema:
            type: "integer"
      x-swagger-router-controller: "Doctor_data"
    patch:
      tags:
      - "doctor_data"
      summary: "Increment"
      operationId: "doctor_dataIdPATCH"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      - in: "body"
        name: "item"
        description: "Properties of item to update."
        required: true
        schema:
          $ref: "#/definitions/item_38"
      responses:
        200:
          description: "Number of affected rows."
          schema:
            type: "integer"
      x-swagger-router-controller: "Doctor_data"
  /doctor_hospital:
    get:
      tags:
      - "doctor_hospital"
      summary: "List"
      operationId: "doctor_hospitalGET"
      parameters:
      - name: "exclude"
        in: "query"
        description: "One or more related entities (comma separated)."
        required: false
        type: "string"
      - name: "include"
        in: "query"
        description: "One or more related entities (comma separated)."
        required: false
        type: "string"
      - name: "order"
        in: "query"
        description: "Column you want to sort on and the sort direction (comma separated).\
          \ Example: id,desc"
        required: false
        type: "string"
      - name: "page"
        in: "query"
        description: "Page number and page size (comma separated). NB: You cannot\
          \ use \"page\" without \"order\"! Example: 1,10"
        required: false
        type: "string"
      - name: "transform"
        in: "query"
        description: "Transform the records to object format. NB: This can also be\
          \ done client-side in JavaScript!"
        required: false
        type: "boolean"
      - name: "columns"
        in: "query"
        description: "The table columns you want to retrieve (comma separated). Example:\
          \ posts.*,categories.name"
        required: false
        type: "string"
      - name: "filter[]"
        in: "query"
        description: "Filters to be applied. Each filter consists of a column, an\
          \ operator and a value (comma separated). Example: id,eq,1"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "satisfy"
        in: "query"
        description: "Should all filters match (default)? Or any?"
        required: false
        type: "string"
        enum:
        - "any"
      responses:
        200:
          description: "An array of doctor_hospital"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/inline_response_200_13"
      x-swagger-router-controller: "Doctor_hospital"
    post:
      tags:
      - "doctor_hospital"
      summary: "Create"
      operationId: "doctor_hospitalPOST"
      parameters:
      - in: "body"
        name: "item"
        description: "Item to create."
        required: true
        schema:
          $ref: "#/definitions/item_39"
      responses:
        200:
          description: "Identifier of created item."
          schema:
            type: "integer"
      x-swagger-router-controller: "Doctor_hospital"
  /doctor_hospital/{id}:
    get:
      tags:
      - "doctor_hospital"
      summary: "Read"
      operationId: "doctor_hospitalIdGET"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      responses:
        200:
          description: "The requested item."
          schema:
            $ref: "#/definitions/inline_response_200_13"
      x-swagger-router-controller: "Doctor_hospital"
    put:
      tags:
      - "doctor_hospital"
      summary: "Update"
      operationId: "doctor_hospitalIdPUT"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      - in: "body"
        name: "item"
        description: "Properties of item to update."
        required: true
        schema:
          $ref: "#/definitions/item_40"
      responses:
        200:
          description: "Number of affected rows."
          schema:
            type: "integer"
      x-swagger-router-controller: "Doctor_hospital"
    delete:
      tags:
      - "doctor_hospital"
      summary: "Delete"
      operationId: "doctor_hospitalIdDELETE"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      responses:
        200:
          description: "Number of affected rows."
          schema:
            type: "integer"
      x-swagger-router-controller: "Doctor_hospital"
    patch:
      tags:
      - "doctor_hospital"
      summary: "Increment"
      operationId: "doctor_hospitalIdPATCH"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      - in: "body"
        name: "item"
        description: "Properties of item to update."
        required: true
        schema:
          $ref: "#/definitions/item_41"
      responses:
        200:
          description: "Number of affected rows."
          schema:
            type: "integer"
      x-swagger-router-controller: "Doctor_hospital"
  /doctor_message:
    get:
      tags:
      - "doctor_message"
      summary: "List"
      operationId: "doctor_messageGET"
      parameters:
      - name: "exclude"
        in: "query"
        description: "One or more related entities (comma separated)."
        required: false
        type: "string"
      - name: "include"
        in: "query"
        description: "One or more related entities (comma separated)."
        required: false
        type: "string"
      - name: "order"
        in: "query"
        description: "Column you want to sort on and the sort direction (comma separated).\
          \ Example: id,desc"
        required: false
        type: "string"
      - name: "page"
        in: "query"
        description: "Page number and page size (comma separated). NB: You cannot\
          \ use \"page\" without \"order\"! Example: 1,10"
        required: false
        type: "string"
      - name: "transform"
        in: "query"
        description: "Transform the records to object format. NB: This can also be\
          \ done client-side in JavaScript!"
        required: false
        type: "boolean"
      - name: "columns"
        in: "query"
        description: "The table columns you want to retrieve (comma separated). Example:\
          \ posts.*,categories.name"
        required: false
        type: "string"
      - name: "filter[]"
        in: "query"
        description: "Filters to be applied. Each filter consists of a column, an\
          \ operator and a value (comma separated). Example: id,eq,1"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "satisfy"
        in: "query"
        description: "Should all filters match (default)? Or any?"
        required: false
        type: "string"
        enum:
        - "any"
      responses:
        200:
          description: "An array of doctor_message"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/inline_response_200_14"
      x-swagger-router-controller: "Doctor_message"
    post:
      tags:
      - "doctor_message"
      summary: "Create"
      operationId: "doctor_messagePOST"
      parameters:
      - in: "body"
        name: "item"
        description: "Item to create."
        required: true
        schema:
          $ref: "#/definitions/item_42"
      responses:
        200:
          description: "Identifier of created item."
          schema:
            type: "integer"
      x-swagger-router-controller: "Doctor_message"
  /doctor_message/{id}:
    get:
      tags:
      - "doctor_message"
      summary: "Read"
      operationId: "doctor_messageIdGET"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      responses:
        200:
          description: "The requested item."
          schema:
            $ref: "#/definitions/inline_response_200_14"
      x-swagger-router-controller: "Doctor_message"
    put:
      tags:
      - "doctor_message"
      summary: "Update"
      operationId: "doctor_messageIdPUT"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      - in: "body"
        name: "item"
        description: "Properties of item to update."
        required: true
        schema:
          $ref: "#/definitions/item_43"
      responses:
        200:
          description: "Number of affected rows."
          schema:
            type: "integer"
      x-swagger-router-controller: "Doctor_message"
    delete:
      tags:
      - "doctor_message"
      summary: "Delete"
      operationId: "doctor_messageIdDELETE"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      responses:
        200:
          description: "Number of affected rows."
          schema:
            type: "integer"
      x-swagger-router-controller: "Doctor_message"
    patch:
      tags:
      - "doctor_message"
      summary: "Increment"
      operationId: "doctor_messageIdPATCH"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      - in: "body"
        name: "item"
        description: "Properties of item to update."
        required: true
        schema:
          $ref: "#/definitions/item_44"
      responses:
        200:
          description: "Number of affected rows."
          schema:
            type: "integer"
      x-swagger-router-controller: "Doctor_message"
  /doctor_vendor:
    get:
      tags:
      - "doctor_vendor"
      summary: "List"
      operationId: "doctor_vendorGET"
      parameters:
      - name: "exclude"
        in: "query"
        description: "One or more related entities (comma separated)."
        required: false
        type: "string"
      - name: "include"
        in: "query"
        description: "One or more related entities (comma separated)."
        required: false
        type: "string"
      - name: "order"
        in: "query"
        description: "Column you want to sort on and the sort direction (comma separated).\
          \ Example: id,desc"
        required: false
        type: "string"
      - name: "page"
        in: "query"
        description: "Page number and page size (comma separated). NB: You cannot\
          \ use \"page\" without \"order\"! Example: 1,10"
        required: false
        type: "string"
      - name: "transform"
        in: "query"
        description: "Transform the records to object format. NB: This can also be\
          \ done client-side in JavaScript!"
        required: false
        type: "boolean"
      - name: "columns"
        in: "query"
        description: "The table columns you want to retrieve (comma separated). Example:\
          \ posts.*,categories.name"
        required: false
        type: "string"
      - name: "filter[]"
        in: "query"
        description: "Filters to be applied. Each filter consists of a column, an\
          \ operator and a value (comma separated). Example: id,eq,1"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "satisfy"
        in: "query"
        description: "Should all filters match (default)? Or any?"
        required: false
        type: "string"
        enum:
        - "any"
      responses:
        200:
          description: "An array of doctor_vendor"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/inline_response_200_15"
      x-swagger-router-controller: "Doctor_vendor"
    post:
      tags:
      - "doctor_vendor"
      summary: "Create"
      operationId: "doctor_vendorPOST"
      parameters:
      - in: "body"
        name: "item"
        description: "Item to create."
        required: true
        schema:
          $ref: "#/definitions/item_45"
      responses:
        200:
          description: "Identifier of created item."
          schema:
            type: "integer"
      x-swagger-router-controller: "Doctor_vendor"
  /doctor_vendor/{id}:
    get:
      tags:
      - "doctor_vendor"
      summary: "Read"
      operationId: "doctor_vendorIdGET"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      responses:
        200:
          description: "The requested item."
          schema:
            $ref: "#/definitions/inline_response_200_15"
      x-swagger-router-controller: "Doctor_vendor"
    put:
      tags:
      - "doctor_vendor"
      summary: "Update"
      operationId: "doctor_vendorIdPUT"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      - in: "body"
        name: "item"
        description: "Properties of item to update."
        required: true
        schema:
          $ref: "#/definitions/item_46"
      responses:
        200:
          description: "Number of affected rows."
          schema:
            type: "integer"
      x-swagger-router-controller: "Doctor_vendor"
    delete:
      tags:
      - "doctor_vendor"
      summary: "Delete"
      operationId: "doctor_vendorIdDELETE"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      responses:
        200:
          description: "Number of affected rows."
          schema:
            type: "integer"
      x-swagger-router-controller: "Doctor_vendor"
    patch:
      tags:
      - "doctor_vendor"
      summary: "Increment"
      operationId: "doctor_vendorIdPATCH"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      - in: "body"
        name: "item"
        description: "Properties of item to update."
        required: true
        schema:
          $ref: "#/definitions/item_47"
      responses:
        200:
          description: "Number of affected rows."
          schema:
            type: "integer"
      x-swagger-router-controller: "Doctor_vendor"
  /exclusioner:
    get:
      tags:
      - "exclusioner"
      summary: "List"
      operationId: "exclusionerGET"
      parameters:
      - name: "exclude"
        in: "query"
        description: "One or more related entities (comma separated)."
        required: false
        type: "string"
      - name: "include"
        in: "query"
        description: "One or more related entities (comma separated)."
        required: false
        type: "string"
      - name: "order"
        in: "query"
        description: "Column you want to sort on and the sort direction (comma separated).\
          \ Example: id,desc"
        required: false
        type: "string"
      - name: "page"
        in: "query"
        description: "Page number and page size (comma separated). NB: You cannot\
          \ use \"page\" without \"order\"! Example: 1,10"
        required: false
        type: "string"
      - name: "transform"
        in: "query"
        description: "Transform the records to object format. NB: This can also be\
          \ done client-side in JavaScript!"
        required: false
        type: "boolean"
      - name: "columns"
        in: "query"
        description: "The table columns you want to retrieve (comma separated). Example:\
          \ posts.*,categories.name"
        required: false
        type: "string"
      - name: "filter[]"
        in: "query"
        description: "Filters to be applied. Each filter consists of a column, an\
          \ operator and a value (comma separated). Example: id,eq,1"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "satisfy"
        in: "query"
        description: "Should all filters match (default)? Or any?"
        required: false
        type: "string"
        enum:
        - "any"
      responses:
        200:
          description: "An array of exclusioner"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/inline_response_200_16"
      x-swagger-router-controller: "Exclusioner"
    post:
      tags:
      - "exclusioner"
      summary: "Create"
      operationId: "exclusionerPOST"
      parameters:
      - in: "body"
        name: "item"
        description: "Item to create."
        required: true
        schema:
          $ref: "#/definitions/item_48"
      responses:
        200:
          description: "Identifier of created item."
          schema:
            type: "integer"
      x-swagger-router-controller: "Exclusioner"
  /exclusioner/{id}:
    get:
      tags:
      - "exclusioner"
      summary: "Read"
      operationId: "exclusionerIdGET"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      responses:
        200:
          description: "The requested item."
          schema:
            $ref: "#/definitions/inline_response_200_16"
      x-swagger-router-controller: "Exclusioner"
    put:
      tags:
      - "exclusioner"
      summary: "Update"
      operationId: "exclusionerIdPUT"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      - in: "body"
        name: "item"
        description: "Properties of item to update."
        required: true
        schema:
          $ref: "#/definitions/item_49"
      responses:
        200:
          description: "Number of affected rows."
          schema:
            type: "integer"
      x-swagger-router-controller: "Exclusioner"
    delete:
      tags:
      - "exclusioner"
      summary: "Delete"
      operationId: "exclusionerIdDELETE"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      responses:
        200:
          description: "Number of affected rows."
          schema:
            type: "integer"
      x-swagger-router-controller: "Exclusioner"
    patch:
      tags:
      - "exclusioner"
      summary: "Increment"
      operationId: "exclusionerIdPATCH"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      - in: "body"
        name: "item"
        description: "Properties of item to update."
        required: true
        schema:
          $ref: "#/definitions/item_50"
      responses:
        200:
          description: "Number of affected rows."
          schema:
            type: "integer"
      x-swagger-router-controller: "Exclusioner"
  /fos_user:
    get:
      tags:
      - "fos_user"
      summary: "List"
      operationId: "fos_userGET"
      parameters:
      - name: "exclude"
        in: "query"
        description: "One or more related entities (comma separated)."
        required: false
        type: "string"
      - name: "include"
        in: "query"
        description: "One or more related entities (comma separated)."
        required: false
        type: "string"
      - name: "order"
        in: "query"
        description: "Column you want to sort on and the sort direction (comma separated).\
          \ Example: id,desc"
        required: false
        type: "string"
      - name: "page"
        in: "query"
        description: "Page number and page size (comma separated). NB: You cannot\
          \ use \"page\" without \"order\"! Example: 1,10"
        required: false
        type: "string"
      - name: "transform"
        in: "query"
        description: "Transform the records to object format. NB: This can also be\
          \ done client-side in JavaScript!"
        required: false
        type: "boolean"
      - name: "columns"
        in: "query"
        description: "The table columns you want to retrieve (comma separated). Example:\
          \ posts.*,categories.name"
        required: false
        type: "string"
      - name: "filter[]"
        in: "query"
        description: "Filters to be applied. Each filter consists of a column, an\
          \ operator and a value (comma separated). Example: id,eq,1"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "satisfy"
        in: "query"
        description: "Should all filters match (default)? Or any?"
        required: false
        type: "string"
        enum:
        - "any"
      responses:
        200:
          description: "An array of fos_user"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/inline_response_200_17"
      x-swagger-router-controller: "Fos_user"
    post:
      tags:
      - "fos_user"
      summary: "Create"
      operationId: "fos_userPOST"
      parameters:
      - in: "body"
        name: "item"
        description: "Item to create."
        required: true
        schema:
          $ref: "#/definitions/item_51"
      responses:
        200:
          description: "Identifier of created item."
          schema:
            type: "integer"
      x-swagger-router-controller: "Fos_user"
  /fos_user/{id}:
    get:
      tags:
      - "fos_user"
      summary: "Read"
      operationId: "fos_userIdGET"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      responses:
        200:
          description: "The requested item."
          schema:
            $ref: "#/definitions/inline_response_200_17"
      x-swagger-router-controller: "Fos_user"
    put:
      tags:
      - "fos_user"
      summary: "Update"
      operationId: "fos_userIdPUT"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      - in: "body"
        name: "item"
        description: "Properties of item to update."
        required: true
        schema:
          $ref: "#/definitions/item_52"
      responses:
        200:
          description: "Number of affected rows."
          schema:
            type: "integer"
      x-swagger-router-controller: "Fos_user"
    delete:
      tags:
      - "fos_user"
      summary: "Delete"
      operationId: "fos_userIdDELETE"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      responses:
        200:
          description: "Number of affected rows."
          schema:
            type: "integer"
      x-swagger-router-controller: "Fos_user"
    patch:
      tags:
      - "fos_user"
      summary: "Increment"
      operationId: "fos_userIdPATCH"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      - in: "body"
        name: "item"
        description: "Properties of item to update."
        required: true
        schema:
          $ref: "#/definitions/item_53"
      responses:
        200:
          description: "Number of affected rows."
          schema:
            type: "integer"
      x-swagger-router-controller: "Fos_user"
  /glove_size:
    get:
      tags:
      - "glove_size"
      summary: "List"
      operationId: "glove_sizeGET"
      parameters:
      - name: "exclude"
        in: "query"
        description: "One or more related entities (comma separated)."
        required: false
        type: "string"
      - name: "include"
        in: "query"
        description: "One or more related entities (comma separated)."
        required: false
        type: "string"
      - name: "order"
        in: "query"
        description: "Column you want to sort on and the sort direction (comma separated).\
          \ Example: id,desc"
        required: false
        type: "string"
      - name: "page"
        in: "query"
        description: "Page number and page size (comma separated). NB: You cannot\
          \ use \"page\" without \"order\"! Example: 1,10"
        required: false
        type: "string"
      - name: "transform"
        in: "query"
        description: "Transform the records to object format. NB: This can also be\
          \ done client-side in JavaScript!"
        required: false
        type: "boolean"
      - name: "columns"
        in: "query"
        description: "The table columns you want to retrieve (comma separated). Example:\
          \ posts.*,categories.name"
        required: false
        type: "string"
      - name: "filter[]"
        in: "query"
        description: "Filters to be applied. Each filter consists of a column, an\
          \ operator and a value (comma separated). Example: id,eq,1"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "satisfy"
        in: "query"
        description: "Should all filters match (default)? Or any?"
        required: false
        type: "string"
        enum:
        - "any"
      responses:
        200:
          description: "An array of glove_size"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/inline_response_200_18"
      x-swagger-router-controller: "Glove_size"
    post:
      tags:
      - "glove_size"
      summary: "Create"
      operationId: "glove_sizePOST"
      parameters:
      - in: "body"
        name: "item"
        description: "Item to create."
        required: true
        schema:
          $ref: "#/definitions/item_54"
      responses:
        200:
          description: "Identifier of created item."
          schema:
            type: "integer"
      x-swagger-router-controller: "Glove_size"
  /glove_size/{id}:
    get:
      tags:
      - "glove_size"
      summary: "Read"
      operationId: "glove_sizeIdGET"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      responses:
        200:
          description: "The requested item."
          schema:
            $ref: "#/definitions/inline_response_200_18"
      x-swagger-router-controller: "Glove_size"
    put:
      tags:
      - "glove_size"
      summary: "Update"
      operationId: "glove_sizeIdPUT"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      - in: "body"
        name: "item"
        description: "Properties of item to update."
        required: true
        schema:
          $ref: "#/definitions/item_55"
      responses:
        200:
          description: "Number of affected rows."
          schema:
            type: "integer"
      x-swagger-router-controller: "Glove_size"
    delete:
      tags:
      - "glove_size"
      summary: "Delete"
      operationId: "glove_sizeIdDELETE"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      responses:
        200:
          description: "Number of affected rows."
          schema:
            type: "integer"
      x-swagger-router-controller: "Glove_size"
    patch:
      tags:
      - "glove_size"
      summary: "Increment"
      operationId: "glove_sizeIdPATCH"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      - in: "body"
        name: "item"
        description: "Properties of item to update."
        required: true
        schema:
          $ref: "#/definitions/item_56"
      responses:
        200:
          description: "Number of affected rows."
          schema:
            type: "integer"
      x-swagger-router-controller: "Glove_size"
  /glove_type:
    get:
      tags:
      - "glove_type"
      summary: "List"
      operationId: "glove_typeGET"
      parameters:
      - name: "exclude"
        in: "query"
        description: "One or more related entities (comma separated)."
        required: false
        type: "string"
      - name: "include"
        in: "query"
        description: "One or more related entities (comma separated)."
        required: false
        type: "string"
      - name: "order"
        in: "query"
        description: "Column you want to sort on and the sort direction (comma separated).\
          \ Example: id,desc"
        required: false
        type: "string"
      - name: "page"
        in: "query"
        description: "Page number and page size (comma separated). NB: You cannot\
          \ use \"page\" without \"order\"! Example: 1,10"
        required: false
        type: "string"
      - name: "transform"
        in: "query"
        description: "Transform the records to object format. NB: This can also be\
          \ done client-side in JavaScript!"
        required: false
        type: "boolean"
      - name: "columns"
        in: "query"
        description: "The table columns you want to retrieve (comma separated). Example:\
          \ posts.*,categories.name"
        required: false
        type: "string"
      - name: "filter[]"
        in: "query"
        description: "Filters to be applied. Each filter consists of a column, an\
          \ operator and a value (comma separated). Example: id,eq,1"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "satisfy"
        in: "query"
        description: "Should all filters match (default)? Or any?"
        required: false
        type: "string"
        enum:
        - "any"
      responses:
        200:
          description: "An array of glove_type"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/inline_response_200_19"
      x-swagger-router-controller: "Glove_type"
    post:
      tags:
      - "glove_type"
      summary: "Create"
      operationId: "glove_typePOST"
      parameters:
      - in: "body"
        name: "item"
        description: "Item to create."
        required: true
        schema:
          $ref: "#/definitions/item_57"
      responses:
        200:
          description: "Identifier of created item."
          schema:
            type: "integer"
      x-swagger-router-controller: "Glove_type"
  /glove_type/{id}:
    get:
      tags:
      - "glove_type"
      summary: "Read"
      operationId: "glove_typeIdGET"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      responses:
        200:
          description: "The requested item."
          schema:
            $ref: "#/definitions/inline_response_200_19"
      x-swagger-router-controller: "Glove_type"
    put:
      tags:
      - "glove_type"
      summary: "Update"
      operationId: "glove_typeIdPUT"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      - in: "body"
        name: "item"
        description: "Properties of item to update."
        required: true
        schema:
          $ref: "#/definitions/item_58"
      responses:
        200:
          description: "Number of affected rows."
          schema:
            type: "integer"
      x-swagger-router-controller: "Glove_type"
    delete:
      tags:
      - "glove_type"
      summary: "Delete"
      operationId: "glove_typeIdDELETE"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      responses:
        200:
          description: "Number of affected rows."
          schema:
            type: "integer"
      x-swagger-router-controller: "Glove_type"
    patch:
      tags:
      - "glove_type"
      summary: "Increment"
      operationId: "glove_typeIdPATCH"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      - in: "body"
        name: "item"
        description: "Properties of item to update."
        required: true
        schema:
          $ref: "#/definitions/item_59"
      responses:
        200:
          description: "Number of affected rows."
          schema:
            type: "integer"
      x-swagger-router-controller: "Glove_type"
  /gown_size:
    get:
      tags:
      - "gown_size"
      summary: "List"
      operationId: "gown_sizeGET"
      parameters:
      - name: "exclude"
        in: "query"
        description: "One or more related entities (comma separated)."
        required: false
        type: "string"
      - name: "include"
        in: "query"
        description: "One or more related entities (comma separated)."
        required: false
        type: "string"
      - name: "order"
        in: "query"
        description: "Column you want to sort on and the sort direction (comma separated).\
          \ Example: id,desc"
        required: false
        type: "string"
      - name: "page"
        in: "query"
        description: "Page number and page size (comma separated). NB: You cannot\
          \ use \"page\" without \"order\"! Example: 1,10"
        required: false
        type: "string"
      - name: "transform"
        in: "query"
        description: "Transform the records to object format. NB: This can also be\
          \ done client-side in JavaScript!"
        required: false
        type: "boolean"
      - name: "columns"
        in: "query"
        description: "The table columns you want to retrieve (comma separated). Example:\
          \ posts.*,categories.name"
        required: false
        type: "string"
      - name: "filter[]"
        in: "query"
        description: "Filters to be applied. Each filter consists of a column, an\
          \ operator and a value (comma separated). Example: id,eq,1"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "satisfy"
        in: "query"
        description: "Should all filters match (default)? Or any?"
        required: false
        type: "string"
        enum:
        - "any"
      responses:
        200:
          description: "An array of gown_size"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/inline_response_200_20"
      x-swagger-router-controller: "Gown_size"
    post:
      tags:
      - "gown_size"
      summary: "Create"
      operationId: "gown_sizePOST"
      parameters:
      - in: "body"
        name: "item"
        description: "Item to create."
        required: true
        schema:
          $ref: "#/definitions/item_60"
      responses:
        200:
          description: "Identifier of created item."
          schema:
            type: "integer"
      x-swagger-router-controller: "Gown_size"
  /gown_size/{id}:
    get:
      tags:
      - "gown_size"
      summary: "Read"
      operationId: "gown_sizeIdGET"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      responses:
        200:
          description: "The requested item."
          schema:
            $ref: "#/definitions/inline_response_200_20"
      x-swagger-router-controller: "Gown_size"
    put:
      tags:
      - "gown_size"
      summary: "Update"
      operationId: "gown_sizeIdPUT"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      - in: "body"
        name: "item"
        description: "Properties of item to update."
        required: true
        schema:
          $ref: "#/definitions/item_61"
      responses:
        200:
          description: "Number of affected rows."
          schema:
            type: "integer"
      x-swagger-router-controller: "Gown_size"
    delete:
      tags:
      - "gown_size"
      summary: "Delete"
      operationId: "gown_sizeIdDELETE"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      responses:
        200:
          description: "Number of affected rows."
          schema:
            type: "integer"
      x-swagger-router-controller: "Gown_size"
    patch:
      tags:
      - "gown_size"
      summary: "Increment"
      operationId: "gown_sizeIdPATCH"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier for item."
        required: true
        type: "string"
      - in: "body"
        name: "item"
        description: "Properties of item to update."
        required: true
        schema:
          $ref: "#/definitions/item_62"
      responses:
        200:
          description: "Number of affected rows."
          schema:
            type: "integer"
      x-swagger-router-controller: "Gown_size"
  /group:
    get:
      tags:
      - "group"
      summary: "List"
      operationId: "groupGET"
      parameters:
      - name: "exclude"
        in: "query"
        description: "One or more related entities (comma separated)."
        required: false
        type: "string"
      - name: "include"
        in: "query"
        description: "One or more related entities (comma separated)."
        required: false
        type: "string"
      - name: "order"
        in: "query"
        description: "Column you want to sort on and the sort direction (comma separated).\
          \ Example: id,desc"
        required: false
        type: "string"
[...]
